.container {
    margin-bottom: 90px;

}

.nav-link {
    font-weight: 300;
    font-family: poppins;
}

.background-cl {
    background: #F0FFF0;
    width: 100%;
    height: 100%;
    margin-bottom: 2%;
}

nav {
    background-color: transparent;
}

.home-page h1{
   font-family: 'Poppins', sans-serif;
    font-size: 48px;
    line-height: 70px;
    font-weight: 700;
}

.sign-in {
    width: 100px;
    color: white;
    border-radius: 20px;
    text-align: center;
    background-color: #21B573;
    cursor: pointer;
    font-family: poppins;
    font-weight: 300;
}

.started-button {
    background-color: #21B573;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 9px 25px;
    cursor: pointer;
    font-family: poppins;
    font-weight: 300;
   
}

.home-page h5 {
    color: #FD511A;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

.home-page h1 {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 25px;
    font-family: poppins;
}

.home-page p {
    color: #6C6B6B;
    font-size: 17px;
    margin-bottom: 25px;
    font-weight: 300;
    font-family: poppins;
}

span {
    color: #21B573;
    font-family: poppins;
}

.book {
    width: 270px;
    height: 270px;
    top: 10px;
    background: #F8FFFB;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.book1 {
    width: 270px;
    height: 270px;
    top: 10px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border: none;
    margin-top: 50px;
}

.online-course {
    font-weight: 700;
    color: #413960;
    margin-bottom: 70px;
    margin-top: 50px;
}

.course {
    width: 370px;
    height: 483px;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    font-family: poppins;
    border: none;
}

.course-image {
    width: 331px;
    height: 234px;
    margin-top: 20px;
    margin-left: 18px;
}

.card-body h6 {
    color: #585859;
    font-weight: 300;
    font-size: 16px;
    font-family: poppins;
}

.buy-course-button {
    width: 137px;
    height: 35px;
    background: #21B573;
    border-radius: 33px;
    color: white;
    font-weight: 300;
    align-items: center;
    border: none;
    font-size: 16px;
    margin-top: 10px;
    font-family: poppins;
}

.card-icon {
    width: 20px;
    margin-top: 40px;
}

.card-body p {
    margin-left: 30px;
    margin-top: -22px;
    font-size: 16px;
    font-family: poppins;
    color: #585859;
    font-weight: 300;
}

.people-icon {
    margin-top: -64px;
    margin-left: 230px;
}

.testimonial {
    font-family: poppins;
    font-size: 36px;
    color: black;
}


.man {
  width: 40%;
  margin: auto;

}
.man img{
    width: 100px;
}

.testimonial, p{
    font-family: poppins;
    font-size: 16px;
    font-weight: 400;
}

.testimonial h3{
    font-weight: 700;
    font-family: poppins;
    color: #413960;
}

.last-page {
    width: 100%;
    height: 100%;
    background-color: #282531;
    position: relative;
    margin-top: 10%;
    padding: 100px;

}

.description p{
    list-style: none; 
    font-family: poppins; 
    font-size: 14px; 
    font-weight: 300;
}

.last-page h5{
    font-weight: 700;
    font-size: 16px;
}

.courses{
    list-style: none;
    font-weight: 300;
    font-size: 16px;
}

#others{
    display: inline-block;
}